<br>
<h2><%= @book.title %></h2><br>

<h3><%= @book.author %></h3><br>

<h4><%= @book.genre %></h4>

<a href="<%=@book.amazon_link%>">
  <img class="cover" src="<%=@book.img_link%>" alt="<%= @book.title %> cover">
</a>
<br><br>
<div class="book">
  <p><strong>Text: </strong><br><%= @book.text %></p>
</div>
