<br>
<h2><%= @book.title %></h2><br>

<h3><%= @book.author %></h3><br>

<h3><%= @book.genre %></h3>

<a href="<%=@book.amazon_link%>">
  <img class="cover" src="<%=@book.img_link%>" alt="<%= @book.title %> cover">
</a>

<div class="book">
  <h3>Text</h3><br>
  <p><%= @book.text %></p>
</div>
<br>
<div id="button4">
  <form  method="get" action="/books/<%= @book.id %>/edit">
    <input class="btn btn-default" type="submit" value="Edit" id="submit">
  </form>
</div>
<br><br>