<br>
<h2><%=@book.title%></h2>
<h3><%=@book.author%></h3>
<a href="<%=@book.amazon_link%>">
    <img class="cover" src="<%=@book.img_link%>" alt="Go to Amazon" >
</a>
<div class="buttons">
  <div class="btn-group">
    <% if user_signed_in? %>
      <div class="btn">
        <form action="/favorites/new" method="post">
          <%= tag(:input, type: "hidden", name: :user_id, value: current_user.id) %>
          <%= tag(:input, type: "hidden", name: :book_id, value: @book.id) %>
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <input class="btn-default btn" type="submit" id="submit" value="Add to Favorites">
        </form>
      </div>
    <% end %>

    <div class="btn">
      <form method="get" action="/books">
        <input class="btn-default btn" type="submit" value="Next Book" id="submit">
      </form>
    </div>
  </div>
</div>
